name: iOS CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: macos-latest
    
    steps:
      # Checkout repo
      - uses: actions/checkout@v4
      
      # Set up Xcode
      - name: Set up Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: 'latest-stable'
      
      # List available simulators (for debugging)
      - name: List available simulators
        run: xcrun simctl list devices available
      
      # Install dependencies
      - name: Install SwiftLint
        run: brew install swiftlint
      
      # Run SwiftLint in strict mode (fails build if any error)
      - name: Run SwiftLint
        run: swiftlint --strict
      
      # Run unit tests
      - name: Run Tests
        run: |
          xcodebuild test \
            -scheme "LittleLemon" \
            -destination 'platform=iOS Simulator,name=iPhone 17,OS=26.2' \
            -enableCodeCoverage YES \
            -resultBundlePath TestResults \
            -quiet
      
      # Upload test results
      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: TestResults